* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}

body {
    background-color: #eecda1;
    padding-top: 250px;
    margin-right: -500px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img{
    height: 85px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: 2px solid black;
    border-bottom: 2px solid #000;
    border-radius: 4px;
    margin-inline: 5px;
}

form button {
    background-color: #f5d41c;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-inline: 5px;
}

form button {
    transition: 0.2s;
}

form button:hover {
    background-color: #a3609a;
    color: white;
}

.item-completado {
    text-decoration:line-through;
    cursor: pointer;
}

ol {
    background: #f5d41c;
    padding: 20px;
}

ol li {
    background: #fff;
    color: rgb(12, 12, 12);
    margin: 5px;
}

ol {
    list-style-type: none;
    padding: 5px;
    margin-right: 320px;
}

